@media (max-width: 480px) {
    .page1{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .logo{
        height: auto;
        width: 25%;
    }
    .logo img{
        height: auto;
        width: 80%;
    }
    .navbar{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .left{
        height: auto;
        width: 50%;
        flex-wrap: wrap;
    }
    .first{
        flex-wrap: wrap;

    }
    .right{
        height: auto;
        width: 50%;
    }
    .container{
        height: auto;
        width: 42%;
        flex-wrap: wrap;
    }
    .page2{
        height: auto;
        width: 100%;
    }
    .images{
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }
    .images img{
        height: auto;
        width: 70%;
    }
    .safcom{
        height: auto;
        width: 33%;
    }
    .google{
        height: auto;
        width: 33%;
    }
    .mkopa{
        height: auto;
        width: 33%;
    }
    .kra{
        height: auto;
        width: 33%;
    }
    .andela{
        height: auto;
        width: 33%;
    }
    .second{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .second img{
        height: auto;
        width: 70%;

    }
    .third{
        flex-wrap: wrap;
    }
    .third img{
        height: auto;
        width: 20%;
    }
    .hae{
        flex-wrap: wrap;
    }
    .too{
        flex-wrap: wrap;
    }
    .page3{
        height: auto;
        width: 100%;
    }
    .container2{
        flex-wrap: wrap;
    }
    .statement{
        width: 30%;
    }
    .explanation{
        width: 70%;
    }
    .page4{
        height: auto;
        width: 100%;
    }
    .pics{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    pics img{
        height: auto;
        width: 90%;
    }
    .pictures{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .pictures img{
        height: auto;
        width: 90%;
    }
    .two{
        width: 50%;
    }
    .image-container img{
        display: flex;
    }
    .one{
        width: 50%;
    }
    .image-container img{
        width: 100%;
        display: flex;
    }
    .overlay{
        flex-wrap: wrap;
        height: auto;
        width: 90%;
    }
    .three{
        width: 50%;
    }
    .four{
        width: 50%;
    }
    .five{
        width: 50%;
    }
    .six{
        width: 50%;
    }
    .page5{
        height: auto;
        width: 100%;
    }
    .container3{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .first-div{
        height: auto;
        width: 20%;
        flex-wrap: wrap;
    }
    .moving-div{
        height: auto;
    }
    .first-div{
        height: auto;
        width: 48%;
    }
    .page6{
        height: auto;
        width: 100%;
    }
    .you{
        flex-wrap: wrap;
    }
    .page7{
        height: auto;
        width: 100%;
    }
    .startup{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .startup img{
        height: auto;
        width: 90%;
    }
    .image-container{
        flex-wrap: wrap;
    }
    .image-item{
        width: 30%;
    }
    .image{
        width: 100%;
        display: flex;
    }
    .overlay-div{
        height: auto;
        width: 90%;
        flex-wrap: wrap;
    }
    .container4{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .container{
        flex-wrap: wrap;
    }
    .content{
        width: 40%;
    }
    .sliding-content{
        flex-wrap: wrap;
        width: 55%;
    }
    .page8{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .image2{
        height: auto;
        width: 90%;
        flex-wrap: wrap;

    }
    .image2 img{
        height: auto;
        width: 60%;
    }
    .page9{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .container5{
        flex-wrap: wrap;
    }
    .finally{
        flex-wrap: wrap;
    }


  
}